
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.switcher {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

button[data-start],
button[data-stop] {
    font-size: 20px;
    text-transform: uppercase;
    padding: 12px 14px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}